@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

#main {
  text-align: center;
  background-color: rgba(148, 147, 147, 0.37);
  border-radius: 5px;
}
#img-div {
  background-color: aliceblue;
  padding: 10px;
  margin: 0 10px;
  border-radius: 2px;
}

#image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 0 auto;
}

h1 {
  font-size: 4rem;
  color: #333;
  margin-bottom: 5px;
  padding-top: 10px;
}

p {
  margin: 0%;
  color: #333;
  font-size: 1.6rem;
}

#img-caption {
  color: #333;
  font-size: 0.8rem;
  line-height: 1.5;
  padding: 10px 0 5px 0;
}

#tribute-info {
  text-align: center;
}

h3 {
  color: #333;
  font-size: 1.6rem;
  padding: 20px 0;
}

ul {
  max-width: 500px;
  line-height: 2;
  margin: 0 auto 50px auto;
  text-align: left;
}

#tribute-link {
  text-decoration: none;
  color: #333;
}

#tribute-link:visited {
  color: #74638f;
}

#tribute-link:hover {
  color: rgba(51, 51, 51, 0.5);
}
